* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: #555;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.start {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eef1c3;
}

.menu {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bac579;
  padding: 0 20px;
}

.hamburger-menu {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu div {
  width: 100%;
  height: 4px;
  background-color: #555;
  transition: all 0.3s ease;
}

.hamburger-menu.active .bar1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.hamburger-menu.active .bar2 {
  opacity: 0;
}

.hamburger-menu.active .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.dropdown-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  height: 31vh;
  width: 25vw;
  top: 6vh;
  left: 5vw;
  background-color: #ebe8ce;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.itens {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.dropdown-menu a {
  color: #555;
  padding: 2vh 3vw;
  text-decoration: none;
  border-radius: 15px;
}

.dropdown-menu a:hover {
  background-color: #a5966d;
}

.promo-day {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  display: flex;
  flex: 2;
  position: relative;
  width: 97vw;
  overflow: hidden;
  border-radius: 10px;

  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  transition: transform 1s ease;
  width: 100%;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eef1c3;
  border-radius: 10px;
}

.carousel-item h2 {
  font-size: 24px;
  color: #333;
}

.carousel-item p {
  margin-top: 5vh;
  font-size: 16px;
  color: #555;
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.moreOff {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mid {
  display: flex;
  height: 100vh;
  background-color: #eef1c3;
  flex-direction: column;
}
.title {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.search {
  display: flex;
  flex: 1;
}

.alignButton {
  margin-top: 6vh;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.input-search {
  height: 8vh;
  width: 70vw;
  border: 1px solid #eef1c3;
  border-radius: 5px;
}

.btn-search {
  cursor: pointer;
  border: 1px solid #eef1c3;
  border-radius: 5px;
  margin-left: 1vw;
}

.btn-search img {
  width: 6.5vw;
  height: 6.5vh;
  margin: 5px;
}

.allProducts {
  flex-direction: column;
  display: flex;
  flex: 4;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.product {
  display: flex;
  flex: 1;
  margin: 2vh 2vw;
  border: 1px solid #555;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 20vh;
  flex-direction: column;
}

.product img {
  height: 15vh;
  width: 15vw;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 35px;
    color: #555;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .dropdown-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 35vh;
    width: 40vw;
    top: 7vh;
    left: 8vw;
    background-color: #ebe8ce;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
  }
  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: #eef1c3;
  }
  .product {
    width: 50vw;
    height: 100vh;
    margin: 5vh;

    flex-direction: column;
  }

  .carousel-container {
    flex-direction: column;
    width: 100%;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 35px;
      color: #555;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .dropdown-menu {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 37vh;
      width: 40vw;
      top: 7vh;
      left: 8vw;
      background-color: #ebe8ce;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 15px;
    }
    .line {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      background-color: #eef1c3;
    }
    .product {
      width: 90vw;
      margin: 5vh 0;
    }
    .carousel-container {
      flex-direction: column;
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 35px;
      color: #555;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .dropdown-menu {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 45vh;
      width: 40vw;
      top: 7vh;
      left: 8vw;
      background-color: #ebe8ce;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 15px;
    }
    .line {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      background-color: #eef1c3;
    }
    .product {
      width: 90vw;
      margin: 5vh 0;
    }
    .carousel-container {
      flex-direction: column;
      width: 100%;
    }
  }
}
